Source: qvct
Section: misc
Priority: optional
Maintainer: Cedric Dufour <cedric.dufour@ced-network.net>
Build-Depends: cdbs, cmake (>= 2.8), debhelper (>= 5), doxygen, imagemagick, libqt4-dev (>= 4.6), libgdal1-dev (>= 1.6) | libgdal-dev, libgps-dev
Standards-Version: 3.8.4
Homepage: http://cedric.dufour.name/software/qvct

Package: qvct
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: qvct-doc-user
Suggests: gdal-bin, imagemagick, proj-bin
Description: Qt Virtual Chart Table (QVCT)
 The Qt Virtual Chart Table (QVCT) is a Qt4 application which provides a
 navigation software that simulates the chart table (and instruments corner)
 usually found in ships.
 .
 It is thus suitable for sailing, flying or any other outdoor activity performed
 using a conventional navigation/planning approach:
  - using heading, speed and time as primary navigation means
  - using easily identifiable landmarks as references
  - navigating along discrete waypoints routes
  - relying on GPS only as a secondary navigation mean
  - using offline maps (rather than Internet-dependent online resources)
 .
 It features:
  - loading offline geo-referenced maps, stored in any format/projection
    supported by the Geospatial Data Abstraction Library (GDAL)
  - associating a digital elevation model (DEM) to any map, stored in any
    format/projection supported by the Geospatial Data Abstraction Library (GDAL)
  - creating, loading, saving and managing landmarks, routes and tracks, stored
    in GPX or QVCT (XML) format
  - creating, loading, saving and managing (multiple) vessels, stored in QVCT
    (XML) format and linkable, individually or globally (dynamic flotilla), to
    (multiple) navigation devices (see below)
  - defining and using multiple navigation devices, including:
     * GPS daemon (GPSD) - GPS mode
     * GPS daemon (GPSD) - AIS mode
     * SBS-1 (ADS-B) base station
  - loading and saving entire navigation/planning projects, stored in QVCT (XML)
    format
  - displaying vessel instruments in an activity-specific cockpit, including:
     * general aviation "basic six"
  - printing maps and overlays (landmarks, routes, etc.) in standard (screen)
    or high (1200 DPI) resolution
  - touchscreen-friendly user interface (you really don't need a mouse or key-
    board while navigating)

Package: qvct-doc-user
Section: misc
Architecture: all
Recommends: qvct
Description: Qt Virtual Chart Table (QVCT) - User Manual
 Contents:
  - user interface presentation
  - map (chart) creation instructions

Package: qvct-doc-devel
Section: misc
Architecture: all
Recommends: qvct, qvct-doc-user
Description: Qt Virtual Chart Table (QVCT) - Developer Documentation
 Contents:
  - doxygen-generated source code documentation

